<script id="summary" type="text/ng-template">
  <div>
  <a ng-click="refreshScorecard(score)" class="scoreitem" href="#">
      <div style="width: 352px; height: 100px;" id="">
          {{score.title}} <br>
          {{score.innings1}} <br>
          {{score.innings2}} <br>
      </div>
  </a>
  </div>
</script>

<div>
    <h1>Live cricket scores</h1>
</div>

<div ng-if="key">
  <div id="sidebar" class="col-4 col-md-4" style="background-color: #465464; padding:20px; height:2500px">
      <div class="row" style="margin-top:20px;">
          <div class="pull-left">
              <input id="searchId" type="text" ng-model="scoreSearch" size="50" class="col-sm-3 form-control input-sm" placeholder="Search">
          </div>
      </div>
      <div style="margin-top:20px;">
        <div ng-repeat="score in scores | filter:scoreSearch" ng-include="'summary'"></div>
      </div>
  </div>

  <div id="contentbody" class="contentbody">
    <div id="wrapper">
      <score-card type="innings1"></score-card>
      <score-card type="innings2"></score-card>
   </div> 
  </div>
</div>